.login-container {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&display=swap');

.login-font {
    font-family: 'Arimo', sans-serif !important;
}

.login-color {
    background-color: #902D6A !important;
}

.login-button {
    background-color: #902D6A !important;
    border-color: #902D6A !important;
    font-family: 'Arimo', sans-serif !important;
}

.login-form .show-hide-button:hover {
    background-color: #F9C429 !important;
}