.dashboard-container {
    margin-bottom: 16px;
    text-align: center;
}

.favorite-joke-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}